

.footer {
    display: flex;
    width: 100%;
    height: 20rem;
    
}


.footerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85%;
    margin: auto;
    margin-bottom: 0;
}

.footerContent {
    display: flex;
    width: 100%;
    height: 70%;
}

.footerMedia {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.footerLogo {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    text-align: start;
    flex-direction: column;
}

.footerLogo img {
    width: 12vw;
    height: 4vh;
}

.footerSocialMidia {
    flex-direction: row;
    width: 100%;
    height: 40%;
    display: flex;
    top: 9vh;
    left: 11vw;
    gap: 2rem;
    margin: 0;
}

.LogosocialMedia {
    width: 2.81rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 3px 8px #514f4f;
}

.LogosocialMedia img{
    width:2rem ;
    height: 2rem;
}

.redes-sociais{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 50%;
}

.footerText {
    display: flex;
    width: 60%;
    height: 100%;
}

.footerInfo {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    height: 53%;
    justify-content: right;
}

.linha {
    border-bottom: 1px solid #000;
}

.footerInfo span,
.footerInfo a {
    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.573);
}

.footerInfo a:hover {
    cursor: pointer;
    font-weight: bold;
    color: #021e46;
}



.footerRights {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 1%;
}

