/* Banner Inicial */

.banner_inicial {
    width: 172vh;
    height: 80vh;
    margin-top: 5vh;
    display: flex;
}

.banner_esquerda {
    width: 100vh;
    height: 80vh;
}

.texto_principal_banner {
    width: 100vh;
    height: 20vh;
    margin-top: 10vh;
}

.texto_principal_banner li {
    font-size: 40px;
    font-weight: 300;
    list-style-type: none;
    margin-left: 10px;
}

.texto_principal_banner b1 {
    color: #6417e9;
    font-weight: 600;
}

.texto_principal_banner b2 {
    color: #378388;
    font-weight: 600;
}

.texto_menor_banner li {
    list-style-type: none;
    margin-bottom: 10px;
    width: 70vh;
    margin-left: 10px;
}

.botão_banner_principal button {
    width: 25vh;
    height: 8vh;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(229deg, rgba(19,57,234,1) 0%, rgba(79,31,233,1) 35%, rgba(127,11,233,1) 100%);
    color: white;
    font-size: 2vh;
    border: none;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 10vh;
    margin-left: 10px;
}

.botão_banner_principal button:hover {
    background: linear-gradient(229deg, rgba(19,57,234,0.8) 0%, rgba(79,31,233,0.8) 35%, rgba(127,11,233,0.8) 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.banner_direita img {
    width: 500px;
    margin-top: 10vh;
    
}

/* Começo missão e valores */

#app {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .secao-superior,
  .secao-inferior {
    width: 120%;
    padding: 20px 0px;
  }
  
  #IdImagemValores {
    width: 400px; 
  }
  
  .secao-superior .container,
  .secao-inferior .container {
    display: flex;
    align-items: center;
    /* width: 120%; */
  }
  
  .secao-superior .esquerda {
    padding-right: 20px;
    max-width: 500px;
  }
  
  .secao-inferior .direita{
    margin-left: 18vh;
  }
  
  .secao-superior h2,
  .secao-inferior h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .secao-superior p,
  .secao-inferior p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .secao-superior blockquote,
  .secao-inferior blockquote {
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-left: 5px solid #ddd;
  }
  
  .depoimento {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .depoimento img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .depoimento p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .depoimento p:first-child {
    font-weight: bold;
  }
  
  .depoimento p:last-child {
    font-style: italic;
    color: #ccc;
  }
  
  li {
    list-style-type: none ;
    text-decoration: none;
}

  .informacoes {
    margin-left: 10px;
  }
  
  .informacoes p {
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .informacoes p:first-child {
    font-weight: bold;
  }
  
  .informacoes p:last-child {
    font-style: italic;
    color: #ccc;
  }
  
  .secao-inferior .esquerda img {
    display: block;
    margin: 0 auto;
    width: 362px; 
    height: 297px;
    margin-bottom: 20px;
  }

  .secao-superior .direita img {
    display: block;
    margin: 0 auto;
    width: 362px; 
    height: 297px;
    margin-bottom: 20px;
  }



/* Fim missão e valores */